<div class="col-md-6">
	<h2 id>Player 1</h2>

	<div class="row">
	    <table>
	      <tr>
	        <th></th>
	        <th>A</th>
	        <th>B</th>
	        <th>C</th>
	        <th>D</th>
	        <th>E</th>
	        <th>F</th>
	        <th>G</th>
	        <th>H</th>
	        <th>I</th>
	        <th>J</th>
	      </tr>
	      <tr id="1">
	        <td>1</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="2">
	        <td>2</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="3">
	        <td>3</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="4">
	        <td>4</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="5">
	        <td>5</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="6">
	        <td>6</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="7">
	        <td>7</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="8">
	        <td>8</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="9">
	        <td>9</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	      <tr id="10">
	        <td>10</td>
	        <td class="A"></td>
	        <td class="B"></td>
	        <td class="C"></td>
	        <td class="D"></td>
	        <td class="E"></td>
	        <td class="F"></td>
	        <td class="G"></td>
	        <td class="H"></td>
	        <td class="I"></td>
	        <td class="J"></td>
	      </tr>
	    </table>  
	</div>


	    <p class="btn-group inline-block">
	      <button id="patrol" type="button" class="btn btn-danger">Patrol Boat <br><strong>**</strong></button>
	      <button id="destroyer" type="button" class="btn btn-danger">Destroyer <br><strong>***</strong></button>
	      <button id="submarine" type="button" class="btn btn-danger">Submarine <br><strong>***</strong></button>
	      <button id="battleship" type="button" class="btn btn-danger">Battleship <br><strong>****</strong></button>
	      <button id="aircraft" type="button" class="btn btn-danger">Aircraft Carrier <br><strong>*****</strong></button>
	    </p>

	    <button id="orientation" type="button" class="btn btn-info btn-lg">Rotate Ship</button>
</div>	  

<div class="col-md-6">
	<h2 id>Fire on Player 2</h2>

	<div class="row">
	    <table class="opp-board">
	      <tr>
	        <th></th>
	        <th>A</th>
	        <th>B</th>
	        <th>C</th>
	        <th>D</th>
	        <th>E</th>
	        <th>F</th>
	        <th>G</th>
	        <th>H</th>
	        <th>I</th>
	        <th>J</th>
	      </tr>
	      <tr id="1B">
	        <td>1</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="2B">
	        <td>2</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="3B">
	        <td>3</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="4B">
	        <td>4</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="5B">
	        <td>5</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="6B">
	        <td>6</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="7B">
	        <td>7</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="8B">
	        <td>8</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="9B">
	        <td>9</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	      <tr id="10B">
	        <td>10</td>
	        <td class="AB"></td>
	        <td class="BB"></td>
	        <td class="CB"></td>
	        <td class="DB"></td>
	        <td class="EB"></td>
	        <td class="FB"></td>
	        <td class="GB"></td>
	        <td class="HB"></td>
	        <td class="IB"></td>
	        <td class="JB"></td>
	      </tr>
	    </table>  
	  </div>
	  <button id="fire-btn" type="button" class="btn btn-danger btn-lg btn-block">Fire!</button>
</div>

