
<table>
  <tr>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
  </tr>
  <tr id="1">
    <td>1</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="2">
    <td>2</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="3">
    <td>3</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="4">
    <td>4</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="5">
    <td>5</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="6">
    <td>6</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="7">
    <td>7</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="8">
    <td>8</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="9">
    <td>9</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
  <tr id="10">
    <td>10</td>
    <td class="A"></td>
    <td class="B"></td>
    <td class="C"></td>
    <td class="D"></td>
    <td class="E"></td>
    <td class="F"></td>
    <td class="G"></td>
    <td class="H"></td>
    <td class="I"></td>
    <td class="J"></td>
  </tr>
</table>