
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table, th, td {
    border: 1px solid #72BCD4;
}

td { 
width: 50px;
height: 50px;
color: white;
text-align: center;
border: solid 2px white;
background-color: #72BCD4
}

th {
color: white;
text-align: center;
border: solid 2px white;
background-color: #72BCD4
}

h1.game-title {
	text-align: center;
	color: red;
	font-size: 75px;
}

.shipTrue {
	background-color: red;
}

ul.boat-dock {
	margin-left: none;
	list-style: none;
}

li.ship-btn button {
	margin-top: 5px;
}

li.ship-btn button strong {
	font-size: 1.8em;
}